*
!*.cpp
!*.h
!*.md
!coff
!coff/*.cpp
!coff/*.h
!coff/*.bf
!coff/tests
!coff/tests/*.cpp
!coff/tests/*.bat
!assembler
!assembler/*.md
!assembler/*.cpp
!assembler/*.h
!assembler/tests
!assembler/tests/*.cpp
!assembler/tests/*.bat
!.gitignore